<div class='m30'>

    <div class='form-page'>
        <form action="/users/officer" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓">
            <input type="hidden" name="authenticity_token" value="HBvHKEP0G2QjwXz1INsUBDN435GBtKHGgVmgRUJc4KXK9Qh4M6dTKtW5tduuEs3oGtwDFJez3W30v4IXiVyqng==">
            
            <h3 class='header-text'>Officer Register</h3>
            <div class="row">
                <label for="user_userId">Userid</label>
                <input id="user_userId" type="text" name="user[userId]">
            </div>

            <div class="row">
                <label for="user_password">Password</label>
                <input id="user_password" type="password" name="user[password]">
            </div>

            <div class="row">
                <label for="user_email">Email</label>
                <input id="user_email" type="email" name="user[email]">
            </div>

            <div class="row">
                <label for="user_name">Name</label>
                <input id="user_name" type="text" name="user[name]">
            </div>

            <div class="row">
                <label for="user_address">Address</label>
                <input id="user_address" type="text" name="user[address]">
            </div>

            <div class="row">
                <label for="user_address1">Address1</label>
                <input id="user_address1" type="text" name="user[address1]">
            </div>

            <div class="actions">
                <input type="submit" name="commit" value="Create User" data-disable-with="Create User">
            </div>
        </form>
    </div>  
</div>

