// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-page {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    form {
        border: 5px black solid;
        padding: 20px;
        width: 500px;


        .row {
            display: flex;
            flex-direction: row;
            margin: 25px;
            justify-content: center
        }

        .row label {
            flex: 100px;
            max-width: 100px;
            padding-right: 20px;
        }

        .row input {
            flex: 400px;
            max-width: 200px;
        }
      

        .header-text {
            text-align: center;
        }
    }
}


h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 50px;
}

h2 span {
    background: #fff;
    padding: 0 10px;
    cursor: pointer;

}